<div class="container">
  <div class="action-sector">
    <button mat-raised-button color="primary" (click)="openCreateModal()">Create</button>
    <div class="filters">
      <!-- date range filter with fixed period-->
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input [formControl]="$any(filterForm!.controls['name'])" matInput (input)="filterBooks()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sort By</mat-label>
        <mat-select [(value)]="selectedSort" (selectionChange)="filterBooks()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let option of sortValue" value="{{option}}">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Date range</mat-label>
        <mat-date-range-input
          [rangePicker]="campaignOnePicker">
          <input matStartDate placeholder="Start date" [formControl]="$any(filterForm!.controls['start'])"
                 (dateChange)="filterBooks()">
          <input matEndDate placeholder="End date" [formControl]="$any(filterForm!.controls['end'])"
                 (dateChange)="filterBooks()">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="book-list-sector">
    <div *ngFor="let book of filteredBooks">
      <app-book-details [book]="book" (updateBook)="updateBook(book)"
                        (deleteBook)="deleteBook(book.id)">
      </app-book-details>
    </div>
  </div>
</div>

