.container
  padding: 0 25px

.action-sector
  padding: 15px 0

.book-list-sector
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
  grid-gap: 20px
  justify-items: center
